/* GENERALES */

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Assistant', sans-serif;
}
h1,
h2{
    font-weight: bold;
    color: black;
}
h3{
    font-weight: bold;
    color: black;
    font-size: 32px;
}
h4{
    font-weight: bold;
    color: black;
    font-size: 16px;
}
p{
    color: black;
}

/* HEADER */
.conteiner-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 55px 50px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.open-menu{
    display: none;
}
.close-menu{
    display: none;
}
.nav-list{
    list-style: none;
    display: flex;
}
header nav ul li a{
    margin: 0px 25px;
    text-decoration: none;
    font-size: 20px;
    color: black;
}
ul{
    padding: 0px;
    margin: 0px;
}
.cart,
.user{
    padding: 10px;
}

/* MAIN-HERO */
.hero{
    text-align: center;
}
.tittle-hero{
    font-size: 145px;
    padding-bottom: 10px;
    text-align: center;
}
.p-main{
    font-size: 22px;
    max-width: 800px;
    margin: auto;
}
.button-shop{
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    margin: 50px 0px 100px;
    font-size: 16px;
}

/* OUR TOP PICKS */
.tittle-section{
    font-size: 32px;
    padding: 140px 0px 30px;
    text-align: center;
}
section{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 50px;
}
.conteiner-shoe{
    display: grid;
    grid-template-areas:
    "shoe1 shoe1"
    "shoe2 shoe3";
}
.shoe1{
    grid-area: shoe1;
    padding-bottom: 5px;
}
.shoe2{
    grid-area: shoe2;
    padding-right: 2.5px;
}
.shoe3{
    grid-area: shoe3;
    padding-left: 2.5px;
}
.shoe1,
.shoe2,
.shoe3{
    border-radius: 20px;
    width: 100%;
    margin: 0px;
}

/* CALL TO ACTION */
.calltoaction{
    text-align: center;
}

/* ARTICLES */
.conteiner-articles{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 0px;
    padding-bottom: 50px;
}
.product{
    text-align: center;
    margin-right: 20px;
}
.tittle-article{
    padding-top: 20px;
}
.img-article{
    border-radius: 25px;
    width: 100%;
}

/* FINAL TEXT */
.final-text{
    font-size: 36px;
    font-weight: lighter;
    padding-top: 150px;
    text-align: center;
}

/* FOOTER */
footer{
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
}
.conteiner-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 50px
}
.socialmedia{
    padding: 0px 6.66px;
}

/* MAIN SHOP*/
.p-shop{
    font-size: 22px;
    text-align: center;
    margin: 20px 0px;
}

/* MAIN CART*/
.tittle-page{
    font-size: 34px;
    padding: 50px 0px;
    text-align: center;

}
.p-cart{
    font-size: 30px;
    text-align: center;
}
.conteiner-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}
.button-cart{
    padding: 10px 30px;
    border-radius: 10px;
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
}
.p-take{
    font-size: 22px;
    text-align: center;
    margin: 100px 0px 35px;
}

/* MAIN LOGIN*/
.p-login{
    font-size: 22px;
    text-align: center;
    margin-bottom: 55px;
}
.text-login{
    font-size: 20px;
    text-align: center;
    margin-top: 100px;
}
.button-login{
    background-color: black;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;

}
section p span{
    text-decoration: underline 1px;
    padding-left: 10px;
}

/* MAIN CONTACT */
.p-contact{
    font-size: 20px;
    text-align: center;
    max-width: 900px;
    margin: auto;
    padding-bottom: 50px;
}
.input{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 5px;
}
form input{
    margin: 0px 5px;
}
.buttonsend{
    padding: 10px 30px;
    border-radius: 10px;
    background-color: black;
    color: white;
    text-align: center;
    border: none;
}

/* HOVERS */
nav ul li a:hover{
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
}

button:hover{
    scale: 1.05;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.img-article:hover{
    scale: 1.05;
    box-shadow: 1px 1px 2px rgba(126, 126, 126, 0.3);
    cursor: pointer;
}


/* RESPONSIVE TABLET (Opcional)*/
@media screen and (max-width: 1024px) {
    .tittle-hero{
        font-size: 85px;
    }
}

/* RESPONSIVE MOBILE*/
@media screen and (max-width: 600px) {
/* HAMBURGUER MENU*/
    .open-menu,
    .close-menu{
        display: block;
        border: 0;
        font-size: 1.8rem;
        font-weight: 700;
        background-color: transparent;
        cursor: pointer;
    }
    .nav{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 2rem;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: white;
        padding: 55px 50px;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        opacity: 0;
        visibility: hidden;
    }
    nav.visible{
        opacity: 1;
        visibility: visible;
    }
    .nav-list{
        flex-direction: column;
        align-items: start;
        padding: 0px;
    }
    header nav ul li a{
        text-decoration-thickness: 0.1px;
        margin: 0px;
    }
    header nav ul li{
        padding-bottom: 10px;
    }

/* MAIN HERO*/
    .tittle-hero{
        font-size: 45px;
    }
    .p-main{
        font-size: 16px;
    }
    .tittle-section{
        font-size: 26px;
    }

/* OUR TOP PICKS*/
    .conteiner-shoe{
        grid-template-areas:
        "shoe1"
        "shoe2"
        "shoe3";
    }
    .shoe1{
        display: none;
    }
    .shoe2{
        padding-bottom: 5px;
    }

/* ARTICLES*/
    .conteiner-articles{
        flex-direction: column;
    }

    .product{
        margin-right: 0;
        margin-bottom: 20px;
    }

/* FINAL TEXT*/
    .final-text{
        padding: 0px;
    }

/* FOOTER*/
    footer{
        padding-top: 100px;
    }
}