/* RESPONSIVE MOBILE */
@media screen and (max-width: 600px) {
    /* HAMBURGUER MENU*/
        header{
            position: static;
            .container-header{
                .open-menu,
                .close-menu{
                    display: block;
                    border: 0;
                    font-size: 1.8rem;
                    font-weight: 700;
                    background-color: transparent;
                    cursor: pointer;
                }
            }
            .nav{
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 2rem;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                background-color: map-get($colors, secundary);
                padding: 55px 50px;
                box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
                opacity: 0;
                visibility: hidden;
                .nav-list{
                    flex-direction: column;
                    align-items: start;
                    li{
                        align-items: start;
                        padding-bottom: 10px;
                        a{
                            text-decoration-thickness: 0.1px;
                            padding: 0px !important;
                        }
                    }
                }
            }
            nav.visible{
                opacity: 1;
                visibility: visible;
            }
        }
        
        /* MAIN INDEX */
        section{
            .sneakerhub{
                /* HERO */
                padding-top: 0px;
            }
            .p-main{
                font-size: 18px;
            }
            .scroll-container{
                display: none;
            }
            .tittle-section{
                font-size: 26px;
                padding: 80px 0px 20px;
            }
            .tittle-page{
                padding-top: 0px;
            }
            .container-shoe{
                /* OUR TOP PICKS */
                grid-template-areas:
                "shoe1 shoe1"
                "shoe2 shoe2"
                "shoe3 shoe3";
            }
            .shoe1{
                display: none;
            }
            .shoe2{
                padding-bottom: 5px;
            }
            .container-articles{
                /* ARTICLES */
                flex-direction: column;
            }
            .product-mid{
                margin: 20px 0px;
            }
            .final-text{
                /* FINAL TEXT*/
                padding: 50px 0px;
            }
        }
    
        /* FOOTER*/
        footer{
            .container-footer{
                grid-template-columns: auto auto;
                grid-template-rows: 200px;
                place-items: center;
                grid-template-areas:
                "menu1 menu2"
                "menu3 menu3";
                .socialmedia{
                    .container-socialmedia{
                        padding: 0px;
                        padding-top: 50px;
                    }
                }
            }
        }
    }