/* HEADER */
header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: map-get($colors, secundary);
    .container-header{
        @extend %flex-between;
        align-items: center;
        padding: 40px 50px;
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
        .open-menu{
            display: none;
        }
        .close-menu{
            display: none;
        }
        .nav{
            padding-left: 65px;
            z-index: 2;
            .nav-list{
                list-style: none;
                display: flex;
                @extend %marg-padd;
                li{
                    a{
                        padding: 0px 25px;
                        text-decoration: none;
                        font-size: 20px;
                        color: map-get($colors, primary);
                        &:hover{
                            text-decoration: underline;
                            text-decoration-thickness: 1px;
                        }
                    }
                }
            }
        }
        .cart,
        .user{
            padding: 10px;
        }
    }
}