/* MAIN CART */
section{
    .tittle-page{
        font-size: 34px;
        padding: 50px 0px;
        text-align: center;
        margin: 0px;
    }
    .p-cart{
        font-size: 30px;
        text-align: center;
    }
    .p-take{
        font-size: 22px;
        text-align: center;
        margin: 100px 0px 35px;
    }
}