/* MAIN LOGIN*/
section{
    .p-login{
        @extend %align-size-p;
        margin-bottom: 55px;
    }
    .text-login{
        font-size: 20px;
        text-align: center;
        padding: 100px 0px;
        margin: 0px;
        span{
            text-decoration: underline 1px;
            padding-left: 10px;
            cursor: pointer;
        }
    }
    .container{
        .row{
            display: flex;
            justify-content: center;
            text-align: start;
        }
        #button-login{
            background-color: map-get($colors, button);
            border: none;
            padding: $size-buttons;
            border-radius: $border-buttons;
        }
    }
}