$sizes:(
    h1:34px,
    h2:30px,
    h3:24px,
    h4:16px,
    h5:15px,
    h6:14px
);
$colors:(
    primary:#000000,
    secundary:#ffffff,
    shades:#c2c2c2,
    button: #181818,
    hover: #8a8a8a
);