$sizes:(
    h1:34px,
    h2:30px,
    h3:16px,
    h4:15px,
    h5:14px,
    h6:13px
);
$colors:(
    primary:#000000,
    secundary:#ffffff,
    shades:#c2c2c2,
    button: #181818,
    hover: #8a8a8a
);